.item {
  bottom: 0;
  background-color: red;
  width: 150px;
  border: 2px solid #333;
  border-radius: 8px;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 125%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
